/* Header */
header {
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  position: fixed;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-box {
  background: #14532d;
  color: white;
  font-weight: bold;
  padding: 10px 12px;
  border-radius: 4px;
  margin-right: 10px;
}

.logo-text h1 {
  font-size: 18px;
}

.logo-text p {
  font-size: 12px;
  color: #555;
}

nav{
  list-style: none;
  display: flex;
  text-align: center;
}

nav a {
  background: #ffffff;
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}

.phone-button button {
  background: #14532d;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
}