.footer {
  background-color: #14532d;
  color: white;
  padding: 40px 20px;
  font-family: sans-serif;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.footer-section {
  flex: 1 1 250px;
  background-color: #14532d;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.logo-icon {
  background: rgb(99, 77, 77);
  color: 14532d;
  font-weight: bold;
  padding: 5px 10px;
  border-radius: 5px;
}

.brand p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-section h4 {
  margin-bottom: 10px;
  font-weight: bold;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
}

.footer-section ul li {
  margin-bottom: 8px;
}

.footer-section ul li a {
  color: white;
  text-decoration: none;
}

.footer-bottom {
  border-top: 1px solid #ccc;
  background-color: #14532d;
  margin-top: 30px;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13px;
  text-align: center;
}

.footer-bottom p {
  margin: 5px 0;
}

/* Responsive */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-section {
    max-width: 100%;
  }

  .logo {
    justify-content: center;
  }
}